/* a {
    color: #03658c;
    text-decoration: none;
} */


/** ====================
* Lista de Comentarios
=======================*/

.comments-container {
    margin: 1rem;
    width: 100%;
}

.comments-list {
    position: relative;
}

.comments-list li {
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.comment-info {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 5px;
}

.comment-info .avatar {
    min-width: 60px;
    width: 60px;
}

.comment-info .info {
    display: flex;
    align-items: center;
}

.comment-info .info .name {
    flex-basis: 45%;
    font-weight: 700;
}

.comment-info .info .time::before {
    font-weight: 100;
    content: ' - ';
    padding: 0 0.5rem;
    width: 1rem;
}

.comment-info .info .time {
    font-weight: 500;
    font-size: 1.05rem;
}

.comment-info .info .detail {
    position: relative;
    background: #FFF;
    width: 45%;
    text-align: right;
    cursor: pointer;
}

.comment-info .info .detail i {
    color: #999;
    font-size: 18px !important;
}

.comment-info .info .detail ul {
    position: absolute;
    border: 1px solid #DDD;
    top: 20px;
    right: 0px;
}

.comment-info .info .detail ul li {
    padding: 1.5px 10px 1.5px 15px;
}

.comment-info .info .detail ul li:hover {
    background: #0295d0;
}

.comment-info .info .detail ul li:hover a {
    color: #eee !important;
    font-weight: 500;
}

.avatar img {
    width: 100%;
}

.comment-reply {
    margin-left: 45px;
}

.content {
    display: flex;
    width: 90%;
    padding-top: 5px;
    flex-direction: column;
}

.content .comment-content {
    word-break: break-word;
}

.content .feedback {
    font-size: 1.2rem;
}

.feedback .reply {
    margin-right: 15px;
}

.feedback .like {
    margin-right: 15px;
}

.feedback .dislike {
    margin-right: 15px;
}

.feedback .like a:focus,
.feedback .dislike a:focus {
    color: blue !important;
    text-decoration: none;
}

.comments-list .edit-input {
    border: none;
    max-width: 810px;
    width: 85%;
}

.comments-list .reply-input {
    margin-left: 60px;
    height: 36px;
    width: 75%;
    padding: 0.25rem 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.comment-all,
.reply-input {
    text-align: right;
    margin: 0 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    border-top: 2px solid #e3e3e3;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.reply-input {
    position: relative;
    border-top: none;
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 8px;
    padding-left: 0;
}

.comment-all input[type="text"] {
    width: 90%;
    margin-right: 40px;
    padding: 0.5rem 1rem;
    box-shadow: none !important;
}

.reply-input input[type="text"] {
    margin-right: 15%;
}

.comment-all input[type="submit"] {
    right: 41px;
    position: absolute;
    margin: 1px 0;
    padding: 0 1.5rem;
    height: 34px;
    background: #0295d0;
    color: #DDD;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.reply-input input[type="submit"] {
    position: absolute;
    width: 55px;
    top: 0;
    right: 0;
    margin-right: 10%;
    border: none;
    background: #0295d0;
    color: #DDD;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
}