/* a {
    color: #03658c;
    text-decoration: none;
} */

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
	margin: 1rem;
	width: 100%;
}

.comments-list {
	position: relative;
}

.comments-list li {
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.comment-info {
	display: flex;
	position: relative;
   width: 100%;
   padding-bottom: 5px;
}

.comment-info .avatar {
	min-width: 60px;
    width: 60px;
}

.comment-info .info {
	display: flex;
	align-items: center;
}

.comment-info .info .name {
	font-weight: 700;
}

.comment-info .info .name::after {
	font-weight: 100;
	content: ' - ';
	padding: 0 0.5rem;
	width: 1rem;
}

.comment-info .info .time {
	font-size: 1.05rem;
}

.avatar img {
	width: 100%;
}

.comment-reply {
	margin-left: 45px;
}

.content {
	display: flex;
	padding-top: 5px;
	flex-direction: column;
}

.content .comment-content {
	word-break: break-word;
}

.content .feedback {
	font-size: 1.2rem;
}

.feedback .reply {
	margin-right: 15px;
}

.feedback .like {
	margin-right: 15px;
}

.feedback .dislike {
	margin-right: 15px;
}

.feedback .like a:focus, .feedback .dislike a:focus {
	color: blue !important;
	text-decoration: none;
}

.content input {
	padding: 0.25rem 1rem;
	margin-right: 2rem;
	margin-top: 1rem;
}