.payment-content {
    margin-bottom: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.steps {
    margin-bottom: 30px;
    text-align: center;
}

.steps li {
    margin-bottom: 5px;
    float: left;
    text-align: center;
    font-size: 13px;
    border-bottom: 2px solid #aaaaaa;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-weight: bold;
}

.steps li span {
    display: block;
    color: #aaaaaa;
    padding: 5px 0;
}

.steps li span.step-number {
    display: block;
    text-align: center;
    left: 0;
    position: absolute;
    font-weight: bold;
    width: 100%;
}

.steps li span.step-number a {
    padding: 3px 7px;
    background-color: #d0d0d0;
    border: 1px solid #aaaaaa;
    color: #ffffff !important;
    border-radius: 20px;
}

.steps li span i {
    font-size: 20px;
}

.steps li.active {
    border-bottom-color: #0f9ed8;
}

.steps li.active span {
    color: #0f9ed8;
}

.steps li.active span.step-number a {
    border-color: #0f9ed8;
    color: #ffffff !important;
    background-color: #0f9ed8;
}

.steps li:last-child {
    border-right: none;
}

.payment-content .title {
    margin-top: 0;
    margin-bottom: 0;
}

.payment-content .payment-block {
    margin-bottom: 15px;
}

.payment-content .payment-block .payment-step {
    padding: 0 2px;
}

.payment-content .payment-block .payment-step h4 {
    margin-top: 0;
    padding: 10px;
    background-color: #0f9ed8;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
}

.payment-content .payment-block .payment-step .step-preview {
    background-color: #ffffff;
    padding: 10px;
    min-height: 420px;
    border: 1px solid #dddddd;
}

.payment-content .payment-block .payment-step .step-preview h2 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
    color: #0f9ed8;
}

.payment-content .payment-block .payment-step .step-preview .user-login {
    margin-bottom: 15px;
}

.payment-content .payment-block .payment-step .step-preview .user-login a:first-child {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #aaaaaa;
}

.payment-content .payment-block .payment-step .step-preview .user-login a {
    color: #ff0000 !important;
}

.payment-content .payment-block .payment-step .step-preview .user-login a:hover {
    color: #0f9ed8 !important;
}

.payment-content .payment-block .payment-step .step-preview .form-group input {
    width: 100%;
    margin-bottom: 5px;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .shiping-price {
    padding: 10px 0;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .btn-coupon {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .use-coupon {
    text-align: right;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .use-coupon .form-group {
    margin-bottom: 0;
}

.payment-content .payment-block .payment-step .step-preview .form-group input {
    width: 100%;
    margin-bottom: 5px;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .use-coupon .form-group .btn {
    margin-bottom: 0;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .total-payment {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .button-submit {
    text-align: right;
    padding: 10px 0;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item:first-child {
    padding-top: 0;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item {
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item .price {
    float: right;
    line-height: 60px;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item .image img {
    height: 60px;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item .product-name a {
    color: #373737;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .btn-coupon .btn {
    width: 100%;
    margin-bottom: 0;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .total-payment span {
    float: right;
    color: #0f9ed8;
    font-size: 18px;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .button-submit .btn {
    margin-bottom: 0;
}

.modal-window {
    display: none;
    position: fixed;
    background-color: rgba(125, 125, 125, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    /* visibility: hidden;
	opacity: 0;
	pointer-events: none; */
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.85rem;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.modal-window header {
    font-weight: bold;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    cursor: pointer;
}

.modal-close:hover {
    color: black;
}

.modal-window .content {
    display: flex;
    align-items: center;
}

.modal-window .content img {
    width: 5rem;
    height: 5rem;
}

.modal-window .content .label {
    color: #333;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 2rem;
}

@media (max-width: 767px) {
    .payment-content .payment-block .payment-step .step-preview {
        min-height: 0;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
    border: 1px solid #b5b5b5;
    padding: 8px 15px;
    font-size: 14px;
    color: #757575;
    border-radius: 0;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .total-price,
.payment-content .payment-block .payment-step .step-preview .cart-info .shiping-price {
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}

.payment-content .payment-block .payment-step .step-preview .cart-info .total-price label,
.payment-content .payment-block .payment-step .step-preview .cart-info .shiping-price label {
    float: right;
}