.container#content{
    padding-right: 50px;
    padding-left: 50px;
}

.menu-product {
    margin-bottom: 15px;
    margin-top: 12px;
}

.menu-product h3 {
    background-color: #00709d;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    text-transform: uppercase;
    margin: 0;
    border-left: 5px solid #0f9ed8;
}

.menu-product ul {
    list-style: none;
    display: block;
    border: 1px solid #dddddd;
    position: relative;
    background-color: #f6f6f6;
}

.menu-product ul li {
    position: relative;
    margin: 0;
    padding: 0;
}

.menu-product ul li a {
    padding: 15px 12px;
    margin: 0 7px;
    color: #0f9ed8;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px dashed #c3c3c3;
    display: block;
}